

<script
  src="{{ 'marquee.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

{% assign gap_between_elements = section.settings.gap_between_elements %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<marquee-component
  class="section spacing-style gap-style color-{{ section.settings.color_scheme }}"
  style="
    {%- render 'spacing-style', settings: section.settings %};
    {% render 'gap-style', value: gap_between_elements, name: 'marquee-gap' %}
    --marquee-direction: {{ section.settings.movement_direction }};
    --marquee-mobile-scale: {{ section.settings.mobile_scale | divided_by: 100.0 }};
  "
  data-speed-factor="{{ section.settings.speed_factor }}"
  data-movement-direction="{{ section.settings.movement_direction }}"
>
  {% if section.settings.title != blank or section.settings.subtitle != blank %}
    <div class="marquee-section__header">
      {% if section.settings.title != blank %}
        <h4 class="marquee-section__title">{{ section.settings.title }}</h4>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <p class="marquee-section__subtitle">{{ section.settings.subtitle }}</p>
      {% endif %}
    </div>
  {% endif %}
  <div
    class="marquee__wrapper"
    ref="wrapper"
  >
    <div
      class="marquee__content"
      ref="content"
    >
      <div
        class="marquee__repeated-items"
        ref="marqueeItems[]"
      >
        {% content_for 'blocks' %}
      </div>
    </div>
  </div>
</marquee-component>

{% stylesheet %}
  marquee-component {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .marquee-section__header {
    text-align: center;
    margin-bottom: 14px;
  }

  .marquee-section__title {
    margin: 0 0 8px;
	color: #575757;
    font-size: calc(14px + 0.5vw);
  }

  .marquee-section__subtitle {
    opacity: 0.8;
    margin: 0;
  }

  .marquee__wrapper {
    display: flex;
    gap: var(--marquee-gap);
    width: fit-content;
    white-space: nowrap;
  }

  .marquee__content {
    min-width: max-content;
    display: flex;
    gap: var(--marquee-gap);
  }

  .marquee__content :is(p, h1, h2, h3, h4, h5, h6) {
    white-space: nowrap;
  }

  .marquee__content .marquee__repeated-items * {
    max-width: none;
  }

  .marquee__repeated-items {
    min-width: max-content;
    display: flex;
    gap: var(--marquee-gap);
    align-items: center;
    justify-content: center;
  }

  .marquee__repeated-items > * {
    align-content: center;
    position: relative;
  }

  .marquee__repeated-items > *::after {
    content: '◆';
    color: #fff;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: calc(var(--marquee-gap) / -2);
    top: 50%;
    transform: translate(50%, -50%);
  }

  @media (prefers-reduced-motion: no-preference) {
    marquee-component:not([data-disabled]) .marquee__wrapper {
      animation: marquee-motion var(--marquee-speed) linear infinite var(--marquee-direction);
    }
  }

  @keyframes marquee-motion {
    to {
      transform: translate3d(calc(-50% - (var(--marquee-gap) / 2)), 0, 0);
    }
  }

  @media screen and (max-width: 749px) {
    marquee-component .marquee__repeated-items {
      zoom: var(--marquee-mobile-scale, 1);
    }

    marquee-component .marquee__content,
    marquee-component .marquee__wrapper {
      gap: calc(var(--marquee-gap) * var(--marquee-mobile-scale, 1));
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.marquee",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "logo"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "movement_direction",
      "label": "t:settings.motion_direction",
      "options": [
        {
          "value": "reverse",
          "label": "t:options.forward"
        },
        {
          "value": "normal",
          "label": "t:options.reverse"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "speed_factor",
      "min": 10,
      "max": 200,
      "step": 10,
      "label": "Speed (higher = slower)",
      "default": 60
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "gap_between_elements",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_scale",
      "label": "Mobile scale",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    }
  ],
  "presets": [
    {
      "name": "t:names.marquee_section",
      "category": "t:categories.text",
      "blocks": {
        "text": {
          "type": "text",
          "settings": {
            "text": "t:html_defaults.make_things_better",
            "type_preset": "custom",
            "font": "var(--font-body--family)",
            "font_size": "var(--font-size--h2)",
            "line_height": "tight",
            "letter_spacing": "tight",
            "case": "none",
            "wrap": "nowrap",
            "width": "fit-content"
          }
        }
      },
      "block_order": ["text"]
    }
  ]
}
{% endschema %}
